body {
  background-color:#F7F7F9;
  font-family: sans-serif;
}

.logo{
  width: 300px;
  padding-top: 150px;
}

h1{
  color:#FFF;
  padding:10px;
  text-align:center;
  font-size:24px;
}

.field {
  display:flex;
  position:realtive;
  margin:2.5em auto;
  width:50%;
  min-width: 100px;
  background-color: #fff;
  height: 44px;
  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.field input:focus,
.field button:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

.field>input[type=text],
.field>button {
  display:block;
  font-size: 1.2em;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em;
}

.field>button {
  padding:0.6em 0.8em;
  background-color:#2ecc71;
  color:white;
  border:none;
}

.field>button:hover {
  cursor:pointer;
}

.text-muted {
  color: #b3b3b3 !important;
}
.notification-bar-details .notification-bar-title {
  display: block;
}
.m-b-1 {
  margin-bottom: 1rem !important;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.top-bar-search{
  margin: 0.5em !important;
  width: 500px;
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.links{
  text-align: center;
}
.links a{
  text-decoration: none;
}
